@model BExpensesModeloDDD.MVC.ViewModels.RespostaSolicitacaoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RespostaSolicitacaoViewModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AprovadorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AprovadorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataResposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataResposta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RespostaSolicitacaoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
