@model IEnumerable<BExpensesModeloDDD.MVC.ViewModels.RespostaSolicitacaoReembolsoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AprovadorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AprovadorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataResposta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RespostaSolicitacaoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RespostaSolicitacaoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RespostaSolicitacaoID })
        </td>
    </tr>
}

</table>
