@model BExpensesModeloDDD.MVC.ViewModels.DespesaAcomodacaoViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create","DespesaAcomodacao", FormMethod.Post, new {enctype = "multipart/form-data"})) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DespesaAcomodacaoViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.DespesaPrincipalID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DespesaPrincipalID)
                @Html.ValidationMessageFor(model => model.DespesaPrincipalID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoAcomodacaoID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoAcomodacaoID", String.Empty)
                @Html.ValidationMessageFor(model => model.TipoAcomodacaoID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescricaoAcomodacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescricaoAcomodacao)
                @Html.ValidationMessageFor(model => model.DescricaoAcomodacao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataInicial, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataInicial)
                @Html.ValidationMessageFor(model => model.DataInicial)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataFinal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataFinal)
                @Html.ValidationMessageFor(model => model.DataFinal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaisID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PaisID", String.Empty)
                @Html.ValidationMessageFor(model => model.PaisID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CidadeAcomodacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CidadeAcomodacao)
                @Html.ValidationMessageFor(model => model.CidadeAcomodacao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorDespesaAcomodacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorDespesaAcomodacao)
                @Html.ValidationMessageFor(model => model.ValorDespesaAcomodacao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Observacao)
                @Html.ValidationMessageFor(model => model.Observacao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>
        <div class="form-group">
           @Html.LabelFor(model => model.Imagem, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <a href="javascript:;" class="btn">
                    Selecione a nota fiscal.
                    <input type="file" name="Image" size="40" style="position: absolute; z-index: 2; top: 0; left: 0; filter: alpha(opacity=0); opacity: 0; background-color: transparent; color: transparent;" onchange='$("#upload-file-info").html($(this).val());'>
                </a>
                <span id="upload-file-info" class="label label-info"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
