@model BExpensesModeloDDD.MVC.ViewModels.ParametrosSistemaViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ParametrosSistemaViewModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Campo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFinal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ParametrosSistemaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
