@model BExpensesModeloDDD.MVC.ViewModels.PessoaViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PessoaViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Login, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Login)
                @Html.ValidationMessageFor(model => model.Login)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Senha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Senha)
                @Html.ValidationMessageFor(model => model.Senha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefone1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefone1)
                @Html.ValidationMessageFor(model => model.Telefone1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefone2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefone2)
                @Html.ValidationMessageFor(model => model.Telefone2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomeBanco, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeBanco)
                @Html.ValidationMessageFor(model => model.NomeBanco)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroConta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroConta)
                @Html.ValidationMessageFor(model => model.NumeroConta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AgenciaConta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AgenciaConta)
                @Html.ValidationMessageFor(model => model.AgenciaConta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoFornecedorSAP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodigoFornecedorSAP)
                @Html.ValidationMessageFor(model => model.CodigoFornecedorSAP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Administrador, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Administrador)
                @Html.ValidationMessageFor(model => model.Administrador)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aprovador, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aprovador)
                @Html.ValidationMessageFor(model => model.Aprovador)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataAtualizacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataAtualizacao)
                @Html.ValidationMessageFor(model => model.DataAtualizacao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aprovador1ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aprovador1ID)
                @Html.ValidationMessageFor(model => model.Aprovador1ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aprovador2ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aprovador2ID)
                @Html.ValidationMessageFor(model => model.Aprovador2ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CentroCustoID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CentroCustoID)
                @Html.ValidationMessageFor(model => model.CentroCustoID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
