@model BExpensesModeloDDD.MVC.ViewModels.PessoaViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PessoaViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeBanco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeBanco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroConta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroConta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgenciaConta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgenciaConta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoFornecedorSAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoFornecedorSAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Administrador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Administrador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aprovador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aprovador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataAtualizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataAtualizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aprovador1ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aprovador1ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aprovador2ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aprovador2ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CentroCustoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CentroCustoID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
